/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    /*color: #222;*/
}

html {
    font-size: 1em;
    line-height: 1.4;
    width: 100%;
    font-family: "adobe-caslon-pro";
    color: #444;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h4 {
  font-weight: normal;
}

h1 {
  margin: 0;
}

   /* 

   div { font-family:"Apercu Pro Light", 'Trebuchet MS', Arial, sans-serif; font-weight:200; font-style:normal; }
div { font-family:"Reader Regular", Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size-adjust:0.53; font-weight:normal; font-style:normal; }
div { font-family:"Visuelt Light", 'Helvetica Neue', 'Segoe UI', sans-serif; font-weight:200; font-style:normal; }
div { font-family:"Value Sans Regular", sans-serif; font-weight:normal; font-style:normal; }
div { font-family:"Reader Medium", Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size-adjust:0.53; font-weight:500; font-style:normal; }
div { font-family:"Apercu Bold", Calibri, sans-serif; font-size-adjust:0.508; font-weight:bold; font-style:normal; }
div { font-family:"Apercu Regular", Calibri, sans-serif; font-size-adjust:0.508; font-weight:normal; font-style:normal; }
div { font-family:"Relative Book", 'Century Gothic', Verdana, sans-serif; font-size-adjust:0.5; font-weight:normal; font-style:normal; } */

   #article {
    width: 60%;
    max-width: 652px;
    /*min-width: 489px;
    width: 50%;*/
    margin: 0 auto;
    font-size: 1.3em;
    letter-spacing: 0.02em;

    
    /* Antialias */

   }

   #article img{
    /*margin: 0 0 25% 0;*/
    width: 100%;

    /*width: auto;*/
    max-height: 100%;

   }

   #introduction {
    max-width: 652px;
    /*min-width: 489px;
    width: 50%;*/
    margin: 0 auto;
    font-size: 1.2em;
    letter-spacing: 0.02em;
   }

   #introduction h3, h2 {
    margin: 0;
    font-weight: bold;
   }

   #introduction h2 {
    font-size: 3.15em;
    font-weight: bold;
   }

   #introduction p {
    font-family: "Visuelt Light";
    font-weight: 100;
    font-size: 1.2em;
    line-height: 1.5em;
    letter-spacing: 0.03em;
   }

   p {
    width: 100%;
    line-height: 1.45em;
    /*font-variant-ligatures: common-ligatures;*/
   }

   body {
    width: 100%;
   }

   .question {
    font-weight: 700;
    font-size: 1.1em;
    /*margin-left: -32px;*/
   }

   /* Perhaps we use before: as optional for each article, but it will need to be done in the backend; */

   .answer {
    margin-left: 32px;
    font-size: 1.1em;
   }

   .name {
    /*font-family: "Visuelt Regular";*/
    font-family: "Helvetica";
    font-size: 0.6em;
    /*font-size: 0.65em;*/
    border-bottom: 2px solid #888888;
    line-height: .6em;
    text-decoration: none;
    /*font-weight: 700;*/
    font-weight: 700;
   }

   /*.name:after {
    content: ':';
    border: none;
   }*/

   .pullquote {
    font-size: 1.7em;
    color: rgba(102,102,102,1);
    line-height: 1.2em;
    /* width: 130%; */
    /* margin-left: -20%; */
    /* border-top: #666 solid 3px; */
    font-family: times;
    font-style: italic;
    border-top-width: 2px;
    margin: 1.6em 0 1.6em 0;
    margin-left: 32px;
   }

   .pullquote:before, .pullquote:after {
    content: '';
    display: block;
    margin: 0.8em auto 0.6em auto;
    width: 4em;
    border-top: 2px solid rgba(102,102,102,0.7);
   }

   .intro-rule {
    font-size: 1.7em;
    color: rgba(102,102,102,1);
    line-height: 1.2em;
    width: 6%;
    /* margin-left: -20%; */
    /* border-top: #666 solid 3px; */
    font-family: times;
    font-style: italic;
    border-top-width: 2px;
    margin: 1.6em 0 1.6em 0;
   }

   .intro-rule:before {
    content: '';
    display: block;
    margin: 0.8em auto 0.6em auto;
    width: 2em;
    border-top: 2px solid rgba(102,102,102,0.7);
   }

   .caption {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 0.6em;
    color: #888;
   }

   .caption-sub {
    font-style: italic;
   }

   p a {
    color: #444;
    /*display: inline-block;
    border-bottom: 1px solid #888;*/
    line-height: .6em;
    border-bottom: 1px solid #e1e1e1;
   }

   p a:hover {
    color: #e1e1e1;
    /*border-bottom: 1px solid #888;*/
   }

   #header {
    height: 532px;
    width: 100%;

    background-size: cover;
    background-position: center;
    margin-top: 10px;
    padding-top: 0px;
   }

   body.black {
    transition: background-color 0.5s ease;
    background-color: #222;
   }

   #menu-button {
    width: 30px;
    height: 30px;
   /* margin-right: 99px;*/
    /* background-color: #333; */
    display: inline-block;
/*    position: fixed;*/
    right: 120px;
    z-index: 1;
    font-family: "Visuelt Regular";
    /* font-weight: 700; */
    letter-spacing: 0.12em;
    padding-top: 20px;
    padding-right: 5px;
    cursor: pointer;
    margin-right: 12px;
    float: right;

   }

   #menu-button div {
    width: inherit;
    /*background-color: #000;*/
    height: 3px;
    margin-bottom: 6px;
    font-family: "Visuelt Regular";

   }

   /*#menu-button:hover * {
    background-color: #fff;
   }*/

   #logo {
    width: 20px;
    display: inline-block;
   }

   #navigation {
    max-width: inherit;
    /*position: fixed;*/
    top: 0px;
    left: 0px;
    /*padding-top: 37px;*/
    height: 50px;
    z-index: 1;
   }

   #navigation img {
    width: 190px;
    height: auto;
    padding-top: 1.0em;
   }

   .frontpage {
    width: 26%;
    margin: 2em 1% 0 2%;
    display: inline-block;
    font-family: "Visuelt Regular";
    text-align: left
   }

   .frontpage img{
    width: 100%;
   }

   #frontpage-list {
    width: 100%;
    text-align: center;
   }

   #main-nav {
    background-color: rgba(80,80,80,0.9);
    width: 25%;
    height: 100%;
    position: fixed;
    /*right: 0px;*/
    top: 0px;
    color: #fff;
    font-size: 2em;
   }

   .hide {
    /*display: none;*/
    /* We should have a global hide*/
    -webkit-animation: menuSlideOut 0.5s;
    animation: menuSlideOut 0.5s;
    right: -60%;
   }

   .show {
    -webkit-animation: menuSlideIn 0.5s;
    animation: menuSlideIn 0.5s;
    right: 0%;
    z-index: 2;
   }

   /* Animations */

   /* Slide Nav */

   @-webkit-keyframes menuSlideIn {
    0% {
      right: -60%;
    }
    100% {
      right: 0%;
    }
   }

   @keyframes menuSlideIn {
    0% {
      right: -60%;
    }
    100% {
      right: 0%;
    }
   }

   @-webkit-keyframes menuSlideOut {
    0% {
      right: 0%;
    }
    100% {
      right: -60%;
    }
   }

   @keyframes menuSlideOut {
    0% {
      right: 0%;
      background-color: #fff;
    }
    100% {
      right: -60%;
      background-color: #333;
    }
   }

   /* Cancel */

   .cancel div:first-child {
    -webkit-animation: canceltop 0.5s;
    animation: canceltop 0.5s;
    transform: translate(0px,9px) rotate(45deg);
    background-color: #fff;
   }

   .cancel div:last-child {
    -webkit-animation: cancelbottom 0.5s;
    animation: cancelbottom 0.5s;
    transform: translate(0px,-9px) rotate(-45deg);
    background-color: #fff;
   }

   .cancel div:nth-child(2) {
    -webkit-animation: cancelmiddle 0.5s;
    animation: cancelmiddle 0.5s;
    opacity: 0;
   }

   /* Menu */

   .menu div:first-child {
    background-color: #333;

    -webkit-animation: menutop 0.5s;
    animation: canceltop 0.5s;
    transform: translate(0px,0px) rotate(0deg);
   }

   .menu div:last-child {
    background-color: #333;
    
    -webkit-animation: menubottom 0.5s;
    animation: cancelbottom 0.5s;
    transform: translate(0px,0px) rotate(0deg);
   }

   .menu div:nth-child(2) {
    -webkit-animation: menumiddle 0.5s;
    animation: menumiddle 0.5s;
    opacity: 1;
    background-color: #333;
   }

   /*.cancel {
   }*/

   @-webkit-keyframes canceltop {
    0% {
      transform: translate(0px,0px) rotate(0deg);
      background-color: #333;
    }
    100% {
      transform: translate(0px,9px) rotate(45deg);
      background-color: #fff;
    }
   }

   @keyframes canceltop {
    from {
      transform: translate(0px,0px) rotate(0deg);
    }
    to {
      transform: translate(0px,9px) rotate(-45deg);
    }
   }

   @-webkit-keyframes cancelmiddle {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
   }

   @-webkit-keyframes menumiddle {
    from {
      opacity: 0;
      background-color: #fff;
    }
    to {
      opacity: 1;
      background-color: #333;
    }
   }

   @keyframes cancelmiddle {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
   }

   @keyframes menumiddle {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
   }

   @-webkit-keyframes cancelbottom {
    0% {transform: translate(0px,0px) rotate(0deg);}
    100% {transform: translate(0px,-9px) rotate(-45deg);}
   }

   @keyframes cancelbottom {
    from {transform: translate(0px,0px) rotate(0deg);}
    to {transform: translate(0px,-9px) rotate(45deg);}
   }


   @-webkit-keyframes menutop {
    0% {transform: translate(0px,9px) rotate(45deg);}
    100% {transform: translate(0px,0px) rotate(0deg);}
   }

   @-webkit-keyframes menubottom {
    0% {transform: translate(0px,-9px) rotate(-45deg);}
    100% {transform: translate(0px,0px) rotate(0deg);}
   }

   @keyframes menutop {
    from {transform: translate(0px,9px) rotate(45deg);}
    to {transform: translate(0px,0px) rotate(0deg);}
   }

   @keyframes menubottom {
    from {transform: translate(0px,-9px) rotate(-45deg);}
    to {transform: translate(0px,0px) rotate(0deg);}
   }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */



.navbar-brand {
  margin-left: 40px;
}

/* Carousel base class */
.carousel {
  margin-bottom: 50px;
  margin-top: 10px;
}
.carousel-control.left, .carousel-control.right {
  background-image: none !important;
}

.carousel-indicators {
  padding-top: 40px;
}
.carousel-indicators li {
  background-color: #D3D3D3 !important;
  border: none;
}
.carousel-indicators .active {
  background-color: #696969 !important;
  width: 10px !important;
  height: 10px !important;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

.carousel .item {
  height: 532px;
  background-color:#555;
  max-width: 100%;
  /*background-size: 100%;*/
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 540px;
  max-width: 100%;


}

.headerContainer {
  max-width: auto;
  height: 532px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.content {
  max-width: 1200px;
  height: 620px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Visuelt Regular";
}

.content img {
  height: auto;
  width: 500px;
}

/* 
    Block-Styles 
*/
 
.block {
    background-color:#ffffff;
    margin-bottom: 40px;
    margin-top: 40px
}
.block_inside { 
    display:block; 
    background: #ffffff url(images/background_block_slice.jpg) repeat-x;   
    overflow:auto;
}
 
.image_block {

    float:left;
}
.text_block {
    float:left;
    width:430px;
    margin-left:30px;
    padding-bottom: 20px;
}
.text_block h2 {
  margin-top: 0px;
}
#spacer {
  height: 65px;
}

.wrap {
  display:block;
  position:absolute;
  width:50%;
  top:20%;
  left:0;
  z-index:2;
  text-align:left;
  color: white;
  margin-left: 100px;
  text-shadow: 1px 1px #696969;
}

.wrap p, h2, h4 {
  color: white;
}

.lightbox img{
  width: 100%;
  max-height: 100%;
  margin-bottom: 15rem;
 }

/*.container-fluid {
max-width: 1200px !important;
}*/

ul {
  padding-top: 50px;
  font-family: "Visuelt Regular";
  color: white !important;
}

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        ;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@media (max-width: 1000px){
  #main-nav {
    background-color: rgba(80,80,80,0.9);
    width: 50%;
    height: 100%;
    position: fixed;
    /*right: 0px;*/
    top: 0px;
    color: #fff;
    font-size: 2em;
    cursor: pointer;
   }

   .hide {
    /*display: none;*/
    /* We should have a global hide*/
    -webkit-animation: menuSlideOut 0.5s;
    animation: menuSlideOut 0.5s;
    right: -50%;
   }

   .show {
    -webkit-animation: menuSlideIn 0.5s;
    animation: menuSlideIn 0.5s;
    right: 0%;
   }

   #article img{
    /*margin: 0 0 25% 0;*/
    width: 90%;

    /*width: auto;*/
    max-height: 100%;
    /*margin-bottom: 15rem;*/
   }

   #introduction {
    max-width: 652px;
    /*min-width: 489px;*/
    width: 80%;
    margin: 0 auto;
    font-size: 1.3em;
    letter-spacing: 0.02em;
   }
   .text_block {
    float:left;
    width:330px;
    margin-left:30px;
    margin-right: auto;
    padding-bottom: 20px;
    }
}

@media (max-width: 600px){
  #main-nav {
    background-color: rgba(80,80,80,0.9);
    width: 60%;
    height: 100%;
    position: fixed;
    /*right: 0px;*/
    top: 0px;
    color: #fff;
    font-size: 1.5em;
   }

   .hide {
    /*display: none;*/
    /* We should have a global hide*/
    -webkit-animation: menuSlideOut 0.5s;
    animation: menuSlideOut 0.5s;
    right: -60%;
   }

   .show {
    -webkit-animation: menuSlideIn 0.5s;
    animation: menuSlideIn 0.5s;
    right: 0%;
   }

   #article {
    width: 80%;
    max-width: 652px;
    /*min-width: 489px;
    width: 50%;*/
    margin: 0 auto;
    font-size: 1.3em;
    letter-spacing: 0.02em;

    
    /* Antialias */

   }

   #article img{
    /*margin: 0 0 25% 0;*/
    width: 90%;

    /*width: auto;*/
    max-height: 100%;
    /*margin-bottom: 15rem;*/
   }

   #introduction {
    max-width: 652px;
    /*min-width: 489px;*/
    width: 90%;
    margin: 0 auto;
    font-size: 1.3em;
    letter-spacing: 0.02em;
   }
   .frontpage {
    width: 86%;
    margin: 1.5em 1% 0 2%;
    display: inline-block;
    font-family: "Visuelt Regular";
    text-align: left
   }

   .frontpage img{
    width: 100%;
   }

   #frontpage-list {
    width: 100%;
    text-align: center;
   }

   .text_block {
    float:left;
    width:230px;
    margin-right: auto;
    padding-bottom: 20px;
    }
}


